<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout( ~{::main}, ~{::head}) }">
<head>
	<link rel="stylesheet" href="/css/notice.css">
	<script type="text/javascript">
		function btnDeleteClicked(){
			return confirm("정말로 삭제?"); // true|false
		}
		
		function btnUpdateClicked(){
			//$("#default-mode").hide();
			document.querySelector("#default-mode").style.display='none';
			//$("#update-mode").show();
			document.querySelector("#update-mode").style.display='block';
		}
		
		function btnCancelClicked(){
			document.querySelector("#default-mode").style.display='block';
			document.querySelector("#update-mode").style.display='none';
		}
	</script>
</head>
<main>
	<h1>고객센터</h1>
	<div class="wrap  view-size">
		<th:block th:replace="~{views/commons/cs-menu}" />
		
		<div id="default-mode">
			<ul >
				<li th:text="${detail.no}">번호</li>
				<li th:text="${detail.title}">제목</li>
				<li class="flex around">
					<dl class="flex">
						<dt>영화관</dt>
						<dd><b th:text="${detail.division}">???</b></dd>
					</dl>
					<dl class="flex">
						<dt>등록일</dt>
						<dd><b th:text="${detail.createdAt.toLocalDate}">???</b></dd>
					</dl >
					<dl class="flex">
						<dt>최종수정일</dt>
						<dd><b th:text="${detail.updatedAt.toLocalDate}">???</b></dd>
					</dl >
					<dl class="flex">
						<dt>조회수</dt>
						<dd><b th:text="${detail.readCount}">???</b></dd>
					</dl>
				</li>
				<li th:text="${detail.content}">상세정보</li>
				
				<li>
					<button onclick="btnUpdateClicked()">수정</button>
					<form  onsubmit="return btnDeleteClicked()"  th:action="|/cscenter/notices/${detail.no}|"   method="post" >
						<input type="hidden" name="_method" value="delete">			
						<button type="submit">삭제</button>
					</form>
					
				</li>
				
			</ul>
		</div>
		<!--///수정모드-->
		<form th:action="|/cscenter/notices/${detail.no}|" method="post" id="update-mode" style="display: none;">
			<ul >
				<li th:text="${detail.no}">번호</li>
				<li>
					<input type="text" name="title" th:value="${detail.title}" />
				</li>
				<li class="flex around">
					<dl class="flex">
						<dt>영화관</dt>
						<dd><b th:text="${detail.division}">???</b></dd>
					</dl>
					<dl class="flex">
						<dt>등록일</dt>
						<dd><b th:text="${detail.createdAt.toLocalDate}">???</b></dd>
					</dl >
					<dl class="flex">
						<dt>최종수정일</dt>
						<dd><b th:text="${detail.updatedAt.toLocalDate}">???</b></dd>
					</dl >
					<dl class="flex">
						<dt>조회수</dt>
						<dd><b th:text="${detail.readCount}">???</b></dd>
					</dl>
				</li>
				<li>
					<textarea name="content">[(${detail.content})]</textarea>
				</li>
				
				<li>
					<input type="hidden" name="_method" value="put">
					<button type="submit">수정완료</button>
					<button type="button" onclick="btnCancelClicked()">취소</button>
				</li>
				
			</ul>
		</form>
		
	</div>
	
</main>
</html>