<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout( ~{::main} , ~{::head}) }">
<head>
	<link rel="stylesheet" href="/css/notice.css">
</head>
<main>
	<h1>고객센터</h1>
	<div class="wrap  view-size">
		<th:block th:replace="~{views/commons/cs-menu}" />
		<section>
			<h1>FAQ</h1>
			<div>
				<form action="/cscenter/faq" method="post">
					<ul>
						<li>
							<label>구분</label>
							<select name="division">
								<th:block th:each="d : ${T(com.green.domain.entity.Division).values()}">
									<option th:value="${d}">[[${d.koName}]]</option>
								</th:block>
							</select>
						</li>
						<li>
							<label>질문 :</label><br>
							<input type="text" name="question" placeholder="질문을 등록하세요"/>
						</li>
						<li>
							<label>답변 :</label><br>
							<textarea name="answer" placeholder="질문에 대한 답변을 등록하세요"></textarea>
						</li>
						<li>
							<button type="submit">FAQ등록</button>
						</li>
					</ul>
				</form>
			</div>
		</section>
	</div>
	
</main>
</html>